//dashboard_main.jade
br
.row
  .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2
            | Latest 30 Transactions
          ul.nav.navbar-right.panel_toolbox
            li
              a.collapse-link
                i.fa.fa-chevron-up
            li
              a.close-link
                i.fa.fa-close
          .clearfix
        .x_content
          #chart-container
br
.row
  .col-md-6.col-sm-6.col-xs-12
      .x_panel
        .x_title
          h2
            | Top 10 Sent
          ul.nav.navbar-right.panel_toolbox
            li
              a.collapse-link
                i.fa.fa-chevron-up
            li
              a.close-link
                i.fa.fa-close
          .clearfix
        .x_content
          table.table.table-striped.table-sent.specifictd
            thead
              tr
                th #
                th Address
                th Total Eth
            tbody
  .col-md-6.col-sm-6.col-xs-12
      .x_panel
        .x_title
          h2
            | Top 10 Received
          ul.nav.navbar-right.panel_toolbox
            li
              a.collapse-link
                i.fa.fa-chevron-up
            li
              a.close-link
                i.fa.fa-close
          .clearfix
        .x_content
          table.table.table-striped.table-received.specifictd
            thead
              tr
                th #
                th Address
                th Total Eth
            tbody

