//dashboard_tokens.jade
br
.row
    .token-cont
        .col-lg-3.col-md-3.col-sm-6.col-xs-12.token-loader
            .tile-stats
                br
                .col-xs-10
                    h3.token-loader-text Loading tokens, please wait...
                .col-xs-2
                    img.img.img-responsive(src="/img/loading.gif", alt="loading gif")
        .col-lg-9.col-md-9.col-sm-6.col-xs-0
        .clearfix
        


