doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
    head
        meta(name='Author', content='ippon digital')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi')
        title EtherStat - Ethereum Blockchain Explorer
        link(href='/css/bootstrap.css', rel='stylesheet', type='text/css')
        link(href='/css/bootstrap-theme.css', rel='stylesheet', type='text/css')
        link(href='/css/index.css', rel='stylesheet', type='text/css')
        link(href='/js/chartist/chartist.css', rel='stylesheet', type='text/css')
        link(href='/js/chartist/chartist-plugin-tooltip.css', rel='stylesheet', type='text/css')

    body
        .row
            .start-page
                .col-md-4
                .col-md-4
                  section.login-form
                    form(method='', action='', role='')
                        img.img.responsive.center-block(src="/img/etherstat.png", alt="etherstat logo")
                        h3.text-center Welcome to EtherStat.io
                        h4.text-center Lets start by entering a wallet address
                        if locals.pageData
                            h4.red= pageData.response
                        br
                        input.form-control.input-lg(type='input', name='ethAddress', id='ethAddress', placeholder='enter wallet address', value='')
                        br
                        button.btn.btn-lg.btn-success.btn-block(type='button', name='search-eth', id='search-eth') Search
                .col-md-4
            .top-menu
                .col-md-6
                    img.img.img-responsive(src="/img/etherstat_small.png", alt="etherstat logo")
                .col-md-6
                    .col-md-6
                    .col-md-6
                        .spacer--s
                            .input-group
                                input.form-control(type='input', name='ethAddressAgain', id='ethAddressAgain', placeholder='enter wallet address', value='')
                                span.input-group-btn
                                    button.btn.btn-success(type='button', name='search-eth-again', id='search-eth-again') Search
        .spacer--l
        .crypto-results
            .row
                .container-fluid
                    .col-md-12
                        .ether-cont
                            .col-sm-2
                                .crypto-img-cont
                                    img.img.img-responsive(src="/img/logos/ethereum.png", alt="ethereum logo")
                            .col-sm-9
                                .ethereum-balance
                                    .crypto-value
                    .col-md-12
                        .col-md-2
                            .alt-loader
                                .col-xs-5.alt-loader-text.float-right
                                    .col-xs-6
                                    .col-xs-6
                                        img.img.img-responsive(src="/img/loading.gif", alt="loading gif")
                                .col-xs-7.alt-loader-text
                                    p Searching Tokens
                            #crypto-balance.crypto-balance
                        .col-md-7
                            h4.crypto-title Last 50 Transactions
                            #chart-container
                            h4.crypto-title All Transactions
                            #crypto-txns.crypto-txns
                                table.table.table-inverse.table-responsive.txn-table
                                    thead
                                        tr
                                            th Date
                                            th Txn Hash
                                            th From
                                            th To
                                            th Value
                                            th Gas Used
                                    tbody
                                        tr
                                        
                        .col-md-3
                            .col-md-12
                                h4.crypto-title Top 10 Sent To Addresses
                                table.table.table-inverse.table-responsive.txn-table.table-sent
                                        thead
                                            tr
                                                th Address
                                                th Total Eth
                                        tbody
                                            tr
                            .col-md-12
                                h4.crypto-title Top 10 Received From Addresses
                                table.table.table-inverse.table-responsive.txn-table.table-received
                                        thead
                                            tr
                                                th Address
                                                th Total Eth
                                        tbody
                                            tr

    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/chartist/chartist.min.js")
    script(src="/js/chartist/chartist-plugin-tooltip.js")
    script(src="/js/library/index/index.js")
